# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\apache-maven-3.8.1\yygh_parent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
